%ul.book-list
  -books.each do |book|
    %li.book.collapsible
      =arrow_link(truncate(book.title,:length => 50), book_path(book), 'book-link') do
        -if book.ticho? and not book.pdfs.empty?
          %span.pdf-link{:href=> book.pdfs.first.file.url}
      .collapse
        .row
          .span3
            .image-wrapper
              =link_to book_path(book), :class=> 'image' do
                =image_tag book.cover.url(:medium), :size=> '222x344'
          .span4
            .content
              .specification
                .markdown
                  :markdown
                    #{book.specification}
              .body
                .markdown
                  :markdown
                    #{truncate(book.body, :omission => " ...", :length => 180, :separator => ' ')}
              .links
                =arrow_link('seguir leyendo', book_path(book), 'plain')
                -unless book.photos.empty?
                  =arrow_link('hojear', book_path(book), 'plain hojear-link')
                  .hidden
                    = render :partial => 'shared/photo_list',:locals => { :photos => book.photos, :id => book.id} 
                
          .span2
            .sidebar
              -unless book.points_of_sale.empty?
                .collapsible
                  =arrow_link (book.obra? ? 'puntos de venta' : 'mas información'), '#', ''
                  .collapse
                    .markdown
                      :markdown
                        #{book.points_of_sale}
              -unless book.buy_online.empty?
                .collapsible
                  =arrow_link 'comprar online', '#', ''
                  .collapse
                    .markdown
                      :markdown
                        #{book.buy_online}
