.book-title
  .container
    .row
      .span3
        =image_tag 'white-ticho-logo.png' if book.ticho?
      .span6
        %h2 #{book.title} #{link_to_edit book}
        %hr

#stars-container.container
  .scrollblock
    #white-stars
    #grey-stars
    .book
      .row
        .span3
          .image-wrapper
            .image
              =image_tag book.cover.url(:medium), :size=> '222x344'
        .span4
          .content
            .specification
              .markdown
                :markdown
                  #{book.specification}
            .body
              .markdown
                :markdown
                  #{book.body}
            -unless book.photos.empty?
              .collapsible.photos
                =arrow_link('hojear', '#', '')
                .collapse
                  = render :partial => 'shared/photo_list',:locals => { :photos => book.photos, :id => book.id} 
            .collapsible.pdf.open
              .collapse
                = render :partial => 'shared/pdf_list',:locals => { :pdfs => book.pdfs} 

            
        -if book.obra?
          .span2
            .sidebar
              -unless book.points_of_sale.empty?
                .collapsible
                  =arrow_link 'puntos de venta', '#', 'inverted'
                  .collapse
                    .markdown
                      :markdown
                        #{book.points_of_sale}
              -unless book.buy_online.empty?
                .collapsible
                  =arrow_link 'comprar online', '#', 'inverted'
                  .collapse
                    .markdown
                      :markdown
                        #{book.buy_online}
