.book-title
  .container
    .row
      .span3
        =image_tag 'white-ticho-logo.png', :width=> 222 if book.ticho?
      .span6
        %h2 #{book.title} #{link_to_edit book}
        %hr

#stars-container.container
  .scrollblock
    #white-stars
    #grey-stars
    .book.row
      .span3
        .image-wrapper
          .image
            =image_tag book.cover.url(:medium)
      .span4.content
        .specification
          :markdown
            #{book.specification}
        .body
          :markdown
            #{book.body}

        .collapsible.photos.pdf.open
          %a.arrow-link(href="#")  hojear
          .collapse
            = render :partial => 'shared/photo_list',:locals => { :photos => book.photos} 
            = render :partial => 'shared/pdf_list',:locals => { :pdfs => book.pdfs} 

          
      -if book.obra?
        .span2.sidebar
          .collapsible.open
            %a.arrow-link.inverted(href="#")  puntos de venta
            .collapse
              :markdown
                #{book.points_of_sale}
          .collapsible.open
            %a.arrow-link.inverted(href="#")  comprar online
            .collapse
              :markdown
                #{book.buy_online}
