%article.post
  .row
    .span2
      %time #{I18n.localize post.published_at, :format => '%Y-%b-%d'}
    .span5
      %h2
        %a.title(href="#") #{post.title}
        =link_to_edit post
      .post-body
        .markdown
          :markdown
            #{post.body}
      -unless post.photos.empty?
        - klass = 'lines'+(post.photos.size/5.0).ceil.to_s
        - klass << ' open' if open
        .collapsible.photos{:class=> klass}
          =arrow_link 'Fotos', '#', ''
          .collapse
            = render :partial => 'shared/photo_list',:locals => { :photos => post.photos} 
      -if post.video?
        .collapsible.video{:class=> ('open' if open)}
          =arrow_link 'Video', '#', ''
          .collapse
            =post.video.html_safe
      -if post.audio?
        .collapsible.audio{:class=> ('open' if open)}
          =arrow_link 'Audio', '#', ''
          .collapse
            =post.audio.html_safe
      -unless post.pdfs.empty?
        - klass = 'lines'+post.pdfs.size.to_s
        - klass << ' open' if open
        .collapsible.pdf{:class=> klass}
          =arrow_link 'Pdf', '#', ''
          .collapse
            = render :partial => 'shared/pdf_list',:locals => { :pdfs => post.pdfs} 

          
    -if post.sidebar_title? and post.sidebar_body? 
      .span2
        .sidebar
          .collapsible{:class=> ('open' if open)}
            =arrow_link post.sidebar_title, '#', 'inverted'
            .collapse
              .markdown
                :markdown
                  #{post.sidebar_body}
