%article.post
  .row
    .span2
      %time #{I18n.localize post.published_at, :format => '%Y-%b-%d'}
    .span5
      %h2
        %a(href="#") #{post.title}
      .post-body
        :markdown
          #{post.body}
      -unless post.photos.empty?
        .collapsible.photos{:class=> ('open' if open)}
          %a.arrow-link(href="#") Fotos
          .collapse
            = render :partial => 'shared/photo_list',:locals => { :photos => post.photos} 
      -if post.video?
        .collapsible{:class=> ('open' if open)}
          %a.arrow-link(href="#") Video
          .collapse
            =post.video.html_safe
      -if post.audio?
        .collapsible{:class=> ('open' if open)}
          %a.arrow-link(href="#") Audio
          .collapse
            =post.audio.html_safe
      -unless post.pdfs.empty?
        .collapsible.pdf{:class=> ('open' if open)}
          %a.arrow-link(href="#") Pdf
          .collapse
            = render :partial => 'shared/pdf_list',:locals => { :pdfs => post.pdfs} 

          
    -if post.sidebar_title? and post.sidebar_body? 
      .span2
        .collapsible.sidebar{:class=> ('open' if open)}
          %a.arrow-link.inverted(href="#") #{post.sidebar_title}
          .collapse
            :markdown
              #{post.sidebar_body}
            
