%article
  .row
    .span2
      %time(datetime="2012-03-14") #{I18n.localize post.published_at, :format => '%Y-%b-%d'}
    .span5
      %h2
        %a(href="#") #{post.title}
      .post-body
        :markdown
          #{post.body}
      -unless post.photos.empty?
        .collapsible.photos
          %h4 Fotos
          .collapse
            %ul
              - post.photos.each do |p|
                %li
                  %a(href="#")
                    %img(src="#{p.image.url(:thumb)}")
      -if post.video?
        .collapsible
          %h4 Video
          .collapse
            =post.video.html_safe
      -if post.audio?
        .collapsible
          %h4 Audio
          .collapse
            =post.audio.html_safe
      -unless post.photos.empty?
        .collapsible.pdf
          %h4 Pdf
          .collapse
            %ul
              - post.pdfs.each do |pdf|
                %li
                  %a(href="#{pdf.file.url}") 
                    %span #{pdf.title}

          
    -if post.sidebar_title? and post.sidebar_body? 
      .span2
        .collapsible.sidebar.open
          %h4 #{post.sidebar_title}
          .collapse
            :markdown
              #{post.sidebar_body}
            
