-#  The container tag
-#  available local variables
-#    current_page:  a page object for the currently displayed page
-#    num_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
-#    paginator:     the paginator that renders the pagination tags inside

= paginator.render do
  %nav.pagination
    .container
      .row
        .span2.prev_page
          = prev_page_tag unless current_page.first?
        .span5.center
          -if with_years?
            .years
              #years_carousel.carousel
                .carousel-inner
                  -years.in_groups_of(8) do |years_group|
                    .item{:class=>('active' if years_group.include? current_year)}
                      -years_group.each do |year|
                        =@template.link_to_unless year.nil?, year, @template.trayectoria_path(:year=>year), :class => ('current' if year == current_year)
                %a.carousel-control.left{"data-slide" => "prev", :href => "#years_carousel"} ‹
                %a.carousel-control.right{"data-slide" => "next", :href => "#years_carousel"} ›        
          .pages
            - each_page do |page|
              - if page.left_outer? || page.right_outer? || page.inside_window?
                = page_tag page
              - elsif !page.was_truncated?
                = gap_tag
        .span2.next_page
          = next_page_tag unless current_page.last?
