%footer
  .container
    .row
      .span1
        %a.logo(href="#{root_path}")
      .span8
        .row.share-links
          .span3.offset5
            %ul.span-hack
              %li
                %a.social-youtube(href="#")
              %li
                %a.social-vimeo(href="#")
              %li
                %a.social-flickr(href="#")
              %li
                %a.social-facebook(href="#")
              %li
                %a.social-plus(href="#")
              %li
                %a.social-delicious(href="#")
            %a.span-hack.social-rss(href="#{feed_path}") RSS
        .row
          .span8.divider
        .row
          .span2.footer-contact
            %h5
              %a(href="#") Guillermo Lema
            %h6
              %a(href="#") contacto
          .span3.footer-nav
            .row
              .span1
                %ul
                  %li #{link_to "Trayectoria", trayectoria_path}
                  %li #{link_to "Obra Escrita", obra_path}
                  %li #{link_to "Agenda", agenda_path}
              .span2
                %ul
                  %li #{link_to "Bitacora", bitacora_path}
                  %li #{link_to "Ticho Ediciones", ticho_path}
                  %li #{link_to "Capacitación", capacitacion_path}
          .span2.links
            %h5 #{link_to "links", links_path}
            .row
              .span1
                %ul
                  -#todo: abstract these lists or use a helper
                  -@footer_links.select{|fl| fl.location == 'col1'}[0..3].each do |fl|
                    %li
                      =link_to fl.title, fl.url
              .span1
                %ul
                  -@footer_links.select{|fl| fl.location == 'col2'}[0..3].each do |fl|
                    %li
                      =link_to fl.title, fl.url
          .span1.blogs
            %h5 #{link_to "blogs", links_path}
            %ul
              -@footer_links.select{|fl| fl.location == 'blog'}[0..2].each do |fl|
                %li
                  =link_to fl.title, fl.url
    .row.credits
      .span3.offset3
        %a(href="#") fotografía GABRIEL MASSERA
      .span1
        %a.design(href="#") diseño
